 .u-section-1 {
  background-image: none;
  min-height: 2257px;
}

.u-section-1 .u-image-1 {
  height: 573px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 790px;
  min-height: 862px;
  background-image: none;
  height: auto;
  margin: -399px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 28px 0 0;
}

.u-section-1 .u-btn-1 {
  align-self: center;
  letter-spacing: 3px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 45px auto 0;
  padding: 17px 46px 17px 45px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2667em;
  vertical-align: 0px;
}

.u-section-1 .u-text-3 {
  width: 570px;
  margin: 41px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
  }
} .u-section-2 {
  min-height: 750px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 351px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 351px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto 0 0;
  padding: 0 4px 1px 3px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 479px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 3rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: -16px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 381px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 617px;
  }

  .u-section-2 .u-image-1 {
    min-height: 289px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 289px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 395px;
  }

  .u-section-2 .u-image-2 {
    min-height: 314px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 471px;
  }

  .u-section-2 .u-image-1 {
    min-height: 221px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    min-height: 241px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 913px;
  }

  .u-section-2 .u-image-1 {
    min-height: 332px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 362px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 645px;
  }

  .u-section-2 .u-image-1 {
    min-height: 209px;
  }

  .u-section-2 .u-image-2 {
    min-height: 228px;
  }
} .u-section-3 {
  min-height: 819px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 351px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 351px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 42px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 3rem;
  margin: 0 auto 0 0;
  padding: 0 3px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 478px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-size: 3rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-2 {
  min-height: 478px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 617px;
  }

  .u-section-3 .u-image-1 {
    min-height: 289px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 289px;
  }

  .u-section-3 .u-btn-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 394px;
  }

  .u-section-3 .u-image-2 {
    min-height: 394px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 471px;
  }

  .u-section-3 .u-image-1 {
    min-height: 221px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 302px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 913px;
  }

  .u-section-3 .u-image-1 {
    min-height: 332px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 453px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 645px;
  }

  .u-section-3 .u-image-1 {
    min-height: 209px;
  }

  .u-section-3 .u-image-2 {
    min-height: 285px;
  }
} .u-section-4 {
  min-height: 411px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-4 .u-image-1 {
  min-height: 420px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 42px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-size: 3rem;
  margin: 0 auto 0 0;
  padding: 0 3px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 617px;
  }

  .u-section-4 .u-image-1 {
    min-height: 346px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-4 .u-btn-1 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 471px;
  }

  .u-section-4 .u-image-1 {
    min-height: 265px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 913px;
  }

  .u-section-4 .u-image-1 {
    min-height: 398px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 645px;
  }

  .u-section-4 .u-image-1 {
    min-height: 251px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 119px;
}

.u-section-5 .u-text-1 {
  margin: 31px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 0 0 31px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 778px;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px 0px 8px rgba(0,0,0,1);
  width: 680px;
  margin: 120px auto 0;
}

.u-section-6 .u-video-1 {
  width: 640px;
  height: 360px;
  margin: 20px auto 43px;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-6 .u-video-1 {
    margin-right: 138px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-6 .u-video-1 {
    margin-right: auto;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-6 .u-text-1 {
    font-size: 4.5rem;
    width: 540px;
  }

  .u-section-6 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }

  .u-section-6 .u-video-1 {
    height: 257px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .embed-responsive-1 {
    left: -39%;
    top: -39%;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-group-1 {
  width: 800px;
  min-height: 281px;
  height: auto;
  margin: 60px auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 35px;
}

.u-section-7 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }
} .u-section-8 {
  min-height: 500px;
} .u-section-9 {
  min-height: 138px;
}

.u-section-9 .u-custom-html-1 {
  margin-top: 0;
  margin-bottom: 0;
} .u-section-10 {
  min-height: 138px;
}

.u-section-10 .u-custom-html-1 {
  margin-top: 0;
  margin-bottom: 0;
} .u-section-11 {
  min-height: 138px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-11 .u-custom-html-1 {
  height: 720px;
  margin-top: 0;
  margin-bottom: 0;
} .u-section-12 {
  min-height: 138px;
  margin-top: 20px;
}

.u-section-12 .u-custom-html-1 {
  margin-top: 0;
  margin-bottom: 0;
}